button { 
    padding: 12px 24px;
    border: solid 2px;
    background-color: white;
    box-shadow: 3px 3px;
}
button:hover { 
    cursor: pointer;
}
button  {
    margin-right: 12px;
}

// button { 
//     padding: 12px 24px;
//     border: none;
//     border-radius: 6px;
//     background-color: rgb(240, 240, 240);
//     // box-shadow: 3px 3px;
// }
// button:hover { 
//     cursor: pointer;
// }
// button  {
//     margin-right: 12px;
// }