article { 
    margin: 0 10vh;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: minmax(100px, auto);
    
}
nav { 
    grid-column-start: 1;
    grid-column-end: 7;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 50px;
    border-bottom: solid thin #ddd;

    button.menu {
        border: none;
        box-shadow: none;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    ul {    
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            a {
                text-decoration: none;
                padding: 6px;
            }
        }
    }
}
header { 
    grid-column-start: 1;
    grid-column-end: 7;
}
header, section { 
    grid-column-start: 1;
    grid-column-end: 7;            
}

main { 
    grid-column-start: 1;
    grid-column-end: 7;

    display: grid;
    grid-gap: 12px;
    grid-template-columns: 6;
    // grid-template-rows: minmax(100px, auto);

    menu {
        grid-column-start: 1;
        grid-column-end: 7; 

        display: flex;
        align-items: flex-start;
        margin: 0;
        padding: 0;        
    }
    section {            
        grid-column-start: 1;
        grid-column-end: 6; 
        // border: solid red;
        
        video {             
            overflow-x: hidden;
            // margin-top: 24px; 
            border: solid rgb(0, 0, 0);
            box-shadow: 3px 3px;          
        }       
    }
    footer { 
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 7;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: solid thin #ddd;

            margin-bottom: 12px;
        }
    }
    .status {        
        border: solid 3px;
        box-shadow: 3px 3px;        
        grid-column-start: 6;
        grid-column-end: 7;
        padding: 12px;        
    }
}

.hidden {
    display: none;
}



form{
    padding: 12px 24px;
    border: solid #ddd;
    box-shadow: 3px 3px #ddd;
    margin-bottom: 48px;
}
form:focus-within {
    padding: 12px 24px;
    border: solid 2px navy;
    box-shadow: 3px 3px;
}

input{
    outline: none;    
    border: none;
    resize: none;
    padding: 12px 24px;
    width: 80%;
}